@use "../utils/" as *;

html {
  font-family: $font-syne;
  font-size: calc(100vw / 1920 * 10);
  overflow: hidden;

  @include media('<=phone') {
    font-size: calc(100vw / 375 * 10);
  }
}

body {
  color: $color-white;
  background: $color-white;
}

.app {
  position: relative;
  z-index: z('app');
  z-index: 1;
}

html, body, .app,
.home, .home__wrapper,
.gallery, .gallery__wrapper,
.store, .store__wrapper,
.about, .about__wrapper {
  height: 100%;
}
